.home {
    align-items: flex-start;
    background-image: url("../images/cube.jpg");
    display: flex;
    background-attachment: fixed;
    background-position: 80%;
    background-size: cover;
    justify-content: left;
    flex-wrap: wrap;
}
.home-welcome {
    padding-bottom: 500px;
    width: 50%;
    text-align: left;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}
.home-welcome h2 {
    color: white;
    font-style: italic;
    font-size: 55px;
}
.home-welcome p {
    color: white;
    font-style: italic;
    font-size: 25px;
}
.projects {
    margin-left: 60px;
    margin-right: 60px;
}
.contact {
    width: 50px;
    border-radius: 30px;
    padding: 20px;
}