* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Primary page formatting */
body {
    background-image: url(../Images/css_page_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header {
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}

.outline {
    color: gold;
    font-size: 18;
    text-align: left;
    border: 2px solid goldenrod;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(69, 11, 228, 0.5);
}

.outline h2 {
    color: gold;
    font-size: 30;
    text-align: center;
}

td {
    display: table-cell;
    padding: 10px;
}



table {
    max-width: 1200px; 
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border: none;
    z-index: 1;
    background-color: white;
}


table caption {
    font-size: 25px;
    padding: 10px;
}

.white {
    background-color: rgba(240, 248, 255, 0.75);
    padding: 5px;
}

.grey {
    background-color: rgba(176, 196, 222, 0.75);
    padding: 5px;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

footer {
    margin: 0 auto;
    padding: 30px;
    border: solid 3px rgb(255, 212, 23);
    max-width: 500px;
    background-color: rgb(119, 2, 119);
}

address {
  color: goldenrod;
  text-align: center;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






/* formatting for properties table examples */