.globalnav {
    padding: 20px;
    margin: auto;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


.globalnav button {
    display: inline-block;
    margin: 15px 0 15px 0;
    border: none;
    text-align: center;
    background-color: rgb(119, 2, 119);
    color: #fffafa;
    padding: 10px;
    margin: 0 15px 0 15px;
    cursor: pointer;
} 

.global-table {
  max-width: 1200px; 
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  border: none;
}

.global-tabel td {
  display: table-cell;
  padding: 10px;
}

.global-table caption {
  font-size: 25px;
  padding: 10px;
}
