td {
    display: table-cell;
    padding: 10px;
}



table {
    max-width: 1200px; 
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border: none;
    z-index: 1;
}



table caption {
    font-size: 25px;
    padding: 10px;
}

.white {
    background-color: rgba(240, 248, 255, 0.75);
    padding: 5px;
}

.grey {
    background-color: rgba(176, 196, 222, 0.75);
    padding: 5px;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);

}

header {
    padding: 50px;
    margin: 0 0 50px 0;
    background-size: cover;
}

nav button {
    display: inline-block;
    margin-left: 50px;
    border: none;
    text-align: center;
    background-color: rgb(30, 21, 150);
    color: #fffafa;
    padding: 10px;
    cursor: pointer;
}

body {
    background-image: url(../Images/white-blue-hex.jpg); /* atributation for image: <a href='https://www.freepik.com/vectors/background'>Background vector created by starline - www.freepik.com</a> */
    background-attachment: fixed;
    background-size: contain;
}

footer {
    text-align: center;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(130, 177, 206);
}


/* .noselect { */
    /* -webkit-touch-callout: none; iOS Safari */
      /* -webkit-user-select: none; Safari */
       /* -khtml-user-select: none; Konqueror HTML */
         /* -moz-user-select: none; Old versions of Firefox */
          /* -ms-user-select: none; Internet Explorer/Edge */
              /* user-select: none; /* Non-prefixed version, currently */
                                    /* supported by Chrome, Edge, Opera and Firefox */ 
/* }  */